@model KUBOnlinePRPM.Models.User
<table>
    <tr>
        <td>Name</td>
        <td>@Model.firstName @Model.lastName</td>
    </tr>
    <tr>
        <td>Designation</td>
        <td>@Model.jobTitle</td>
    </tr>
    <tr>
        <td>Department</td>
        <td></td>
    </tr>
    <tr>
        <td>Company</td>
        <td></td>
    </tr>
    <tr>
        <td>Head of Department/Division</td>
        <td></td>
    </tr>
    <tr>
        <td>Head of Company</td>
        <td></td>
    </tr>
</table>