<div class="media-md align-items-center g-mb-30 container-fluid">
    <div class="d-flex g-mb-15 g-mb-0--md">
        <h3 class="g-font-weight-400 g-font-size-16 g-color-black mb-0 g-pa-20">Project Conversation</h3>
    </div>
</div>
<div class="media-md align-items-center g-mb-30 container-fluid">
    <div class="col-md-12">
        <div class="js-scrollbar g-height-400 g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mb-30">
            <!-- Comments -->
            <div class="media g-mb-30">
                <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-20" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                <div class="media-body">
                    <div class="d-flex align-items-start g-mb-15 g-mb-10--sm">
                        <div class="d-block">
                            <h5 class="h6">James Coolman</h5>
                            <span class="d-block g-color-gray-dark-v5 g-font-size-11">June 7, 2017</span>
                        </div>
                        <div class="ml-auto">
                            <a class="u-link-v5 g-color-primary--hover g-font-weight-600 g-font-size-12 text-uppercase" href="#">Reply</a>
                        </div>
                    </div>

                    <p>
                        This is where we really begin to visualize your napkin sketches and make them into beautiful pixels. Whether through commerce or just an experience to tell your brand's story, the time has come to start using development languages
                        that fit your projects needs.
                    </p>

                    <ul class="list-inline my-0">
                        <li class="list-inline-item g-mr-20">
                            <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#">
                                <i class="icon-medical-022 u-line-icon-pro g-pos-rel g-top-1 g-mr-3"></i> 5
                            </a>
                        </li>
                        <li class="list-inline-item g-mr-20">
                            <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#">
                                <i class="icon-finance-206 u-line-icon-pro g-pos-rel g-top-1 g-mr-3"></i> 1
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="media g-brd-top g-brd-gray-light-v4 g-pt-30 g-ml-40 g-mb-30">
                <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-15" src="../../assets/img-temp/100x100/img4.jpg" alt="Image Description">
                <div class="media-body">
                    <div class="d-flex align-items-start g-mb-15 g-mb-10--sm">
                        <div class="d-block">
                            <h5 class="h6">Alberta Watson</h5>
                            <span class="d-block g-color-gray-dark-v5 g-font-size-11">June 7, 2017</span>
                        </div>
                        <div class="ml-auto">
                            <a class="u-link-v5 g-color-primary--hover g-font-weight-600 g-font-size-12 text-uppercase" href="#">Reply</a>
                        </div>
                    </div>

                    <p>Now that your brand is all dressed up and ready to party, it's time to release it to the world. By the way, let's celebrate already.</p>

                    <ul class="list-inline my-0">
                        <li class="list-inline-item g-mr-20">
                            <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#">
                                <i class="icon-medical-022 u-line-icon-pro g-pos-rel g-top-1 g-mr-3"></i> 2
                            </a>
                        </li>
                        <li class="list-inline-item g-mr-20">
                            <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#">
                                <i class="icon-finance-206 u-line-icon-pro g-pos-rel g-top-1 g-mr-3"></i> 0
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="media g-brd-top g-brd-gray-light-v4 g-pt-30 g-mb-30">
                <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-15" src="../../assets/img-temp/100x100/img14.jpg" alt="Image Description">
                <div class="media-body">
                    <div class="d-flex align-items-start g-mb-15 g-mb-10--sm">
                        <div class="d-block">
                            <h5 class="h6">David Lee</h5>
                            <span class="d-block g-color-gray-dark-v5 g-font-size-11">June 7, 2017</span>
                        </div>
                        <div class="ml-auto">
                            <a class="u-link-v5 g-color-primary--hover g-font-weight-600 g-font-size-12 text-uppercase" href="#">Reply</a>
                        </div>
                    </div>

                    <p>We get it, you're busy and it's important that someone keeps up with marketing and driving people to your brand. We've got you covered.</p>

                    <ul class="list-inline my-0">
                        <li class="list-inline-item g-mr-20">
                            <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#">
                                <i class="icon-medical-022 u-line-icon-pro g-pos-rel g-top-1 g-mr-3"></i> 0
                            </a>
                        </li>
                        <li class="list-inline-item g-mr-20">
                            <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#">
                                <i class="icon-finance-206 u-line-icon-pro g-pos-rel g-top-1 g-mr-3"></i> 0
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Comments -->
        </div>
    </div>
</div>
    <!-- Comments Form -->
<div class="media-md align-items-center g-mb-30 container-fluid">
    <div class="col-md-12">
        <form>
            <div class="g-mb-30">
                <textarea class="form-control g-bg-secondary g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15" rows="5" placeholder="Your message..."></textarea>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn u-btn-blue g-font-weight-600 g-font-size-12 text-uppercase g-py-12 g-px-25 mr-4" type="submit" role="button">Submit Message</button>
            </div>
        </form>
    </div>
</div>
    <!-- End Comments Form -->
