<div class="media-md align-items-center g-mb-30 container-fluid">
    <div class="d-flex g-mb-15 g-mb-0--md">
        <h3 class="g-font-weight-400 g-font-size-16 g-color-black mb-0 g-pa-20">Project Issues</h3>
    </div>
    <div class="media-body align-self-center text-right">
        <a class="js-fancybox btn btn-xl u-btn-lightblue-v3 g-font-size-default g-ml-10" href="#!" data-src="#new-project-form" data-speed="350" data-options='{"touch" : false}'>
            New Issues
        </a>
    </div>
</div>
<div class="media-md align-items-center g-mb-30 container-fluid">
    <div class="media d-md-flex align-items-center ml-auto">
        <div class="d-flex align-items-center">
            <span class="g-hidden-sm-down g-color-gray-dark-v6 g-mr-12">Show:</span>
            <div class="u-select--v1 g-pr-20">
                <select id="datatableEntries2" class="js-select u-select--v1-select w-100" style="display: none;">
                    <option data-content='<span class="d-flex align-items-center g-line-height-1_2 g-color-black">5 Entries</span>' value="5">5 Entries</option>
                    <option data-content='<span class="d-flex align-items-center g-line-height-1_2 g-color-black">10 Entries</span>' value="10">10 Entries</option>
                    <option data-content='<span class="d-flex align-items-center g-line-height-1_2 g-color-black">15 Entries</span>' value="15">15 Entries</option>
                    <option data-content='<span class="d-flex align-items-center g-line-height-1_2 g-color-black">20 Entries</span>' value="20">20 Entries</option>
                    <option data-content='<span class="d-flex align-items-center g-line-height-1_2 g-color-black">25 Entries</span>' value="25">25 Entries</option>
                </select>
                <i class="hs-admin-angle-down g-absolute-centered--y g-right-0 g-color-gray-light-v6 ml-auto"></i>
            </div>
        </div>
        <div class="d-flex g-ml-15 g-ml-55--md">
            <div class="input-group g-pos-rel g-width-320--md">
                <input id="datatableSearch2" class="form-control g-font-size-default g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-rounded-20 g-pl-20 g-pr-50 g-py-10" type="text" placeholder="Search for name, position">
                <button class="btn g-pos-abs g-top-0 g-right-0 g-z-index-2 g-width-60 h-100 g-bg-transparent g-font-size-16 g-color-lightred-v2 g-color-lightblue-v3--hover rounded-0" type="submit">
                    <i class="hs-admin-search g-absolute-centered"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="g-mb-40">
    <div class="table-responsive container-fluid">
        <table class="js-datatable table table-striped u-table--v3 u-editable-table--v1 g-brd-style-solid g-brd-2 g-brd-gray-light-v6" style="width:100%" data-dt-info="#datatableInfo2" data-dt-search="#datatableSearch2" data-dt-entries="#datatableEntries2" data-dt-pagination="datatablePagination2" data-dt-page-length="5"
               data-dt-is-responsive="false" data-dt-pagination-classes="list-inline text-right mb-0" data-dt-pagination-items-classes="list-inline-item g-hidden-sm-down" data-dt-pagination-links-classes="u-pagination-v1__item u-pagination-v1-2 g-bg-lightblue-v3--active g-color-white--active g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-brd-lightblue-v3--active g-rounded-4 g-py-8 g-px-15"
               data-dt-pagination-next-classes="list-inline-item" data-dt-pagination-next-link-classes="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-rounded-4 g-py-8 g-px-12" data-dt-pagination-next-link-markup='<span class="g-line-height-1 g-valign-middle" aria-hidden="true"><i class="hs-admin-angle-right"></i></span><span class="sr-only">Next</span>'
               data-dt-pagination-prev-classes="list-inline-item" data-dt-pagination-prev-link-classes="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-rounded-4 g-py-8 g-px-12" data-dt-pagination-prev-link-markup='<span class="g-line-height-1 g-valign-middle" aria-hidden="true"><i class="hs-admin-angle-left"></i></span><span class="sr-only">Prev</span>'>
            <thead>
                <tr>
                    <th class="g-hidden-xs-up"></th>
                    <th class="g-first-child">
                        <div class="media">
                            <div class="d-flex align-self-center">No</div>
                            <div class="d-flex align-self-center ml-auto">
                                <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                                    <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover" href="#!">
                                        <i class="hs-admin-angle-up"></i>
                                    </a>
                                    <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover" href="#!">
                                        <i class="hs-admin-angle-down"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="media">
                            <div class="d-flex align-self-center">Issues</div>
                            <div class="d-flex align-self-center ml-auto">
                                <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                                    <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover" href="#!">
                                        <i class="hs-admin-angle-up"></i>
                                    </a>
                                    <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover" href="#!">
                                        <i class="hs-admin-angle-down"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="media">
                            <div class="d-flex align-self-center">PIC</div>
                            <div class="d-flex align-self-center ml-auto">
                                <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                                    <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover" href="#!">
                                        <i class="hs-admin-angle-up"></i>
                                    </a>
                                    <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover" href="#!">
                                        <i class="hs-admin-angle-down"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="media">
                            <div class="d-flex align-self-center">Deadline</div>
                            <div class="d-flex align-self-center ml-auto">
                                <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                                    <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover" href="#!">
                                        <i class="hs-admin-angle-up"></i>
                                    </a>
                                    <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover" href="#!">
                                        <i class="hs-admin-angle-down"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="media">
                            <div class="d-flex align-self-center">Progress %</div>
                            <div class="d-flex align-self-center ml-auto">
                                <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                                    <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover" href="#!">
                                        <i class="hs-admin-angle-up"></i>
                                    </a>
                                    <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover" href="#!">
                                        <i class="hs-admin-angle-down"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="g-hidden-xs-up">1</td>
                    <td class="g-first-child">
                        <div class="media align-items-center">
                            <div class="media-body text-left g-ml-15">1</div>
                        </div>
                    </td>
                    <td>Obtaining Certificate of Practical Completion (CPC)</td>
                    <td>Latif</td>
                    <td>30-Dec-16</td>
                    <td>
                        <div class="d-inline-block">
                            <span class="d-flex align-items-center justify-content-center u-tags-v1 g-brd-around g-bg-white g-font-size-default g-color-gray-dark-v6 g-brd-white g-rounded-50 g-py-4 g-px-15">
                                <span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-green g-mr-8"></span>
                                Completed
                            </span>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="g-pos-rel g-top-3 d-inline-block">
                            <a id="Issues1Invoker" class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-lightblue-v3--hover" href="#!" aria-controls="Issues1" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#Issues1">
                                <i class="hs-admin-more-alt"></i>
                            </a>
                            <div id="Issues1" class="u-shadow-v31 g-pos-abs g-right-0 g-z-index-2 g-bg-white" aria-labelledby="Issues1Invoker">
                                <ul class="list-unstyled g-nowrap mb-0">
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-pencil g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-check g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Mark as Done
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-trash g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="g-hidden-xs-up">2</td>
                    <td class="g-first-child">
                        <div class="media align-items-center">
                            <div class="media-body text-left g-ml-15">2</div>
                        </div>
                    </td>
                    <td>Obtaining EOT to minimize LAD from RM1,345,977 to RM55,390</td>
                    <td>Latif</td>
                    <td>30-Dec-16</td>
                    <td>
                        <div class="d-inline-block">
                            <span class="d-flex align-items-center justify-content-center u-tags-v1 g-brd-around g-bg-white g-font-size-default g-color-gray-dark-v6 g-brd-white g-rounded-50 g-py-4 g-px-15">
                                <span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-green g-mr-8"></span>
                                Completed
                            </span>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="g-pos-rel g-top-3 d-inline-block">
                            <a id="Issues2Invoker" class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-lightblue-v3--hover" href="#!" aria-controls="Issues2" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#Issues2">
                                <i class="hs-admin-more-alt"></i>
                            </a>
                            <div id="Issues2" class="u-shadow-v31 g-pos-abs g-right-0 g-z-index-2 g-bg-white" aria-labelledby="Issues2Invoker">
                                <ul class="list-unstyled g-nowrap mb-0">
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-pencil g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-check g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Mark as Done
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-trash g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="g-hidden-xs-up">3</td>
                    <td class="g-first-child">
                        <div class="media align-items-center">
                            <div class="media-body text-left g-ml-15">3</div>
                        </div>
                    </td>
                    <td>
                        Deployment Invoices<br />
                        Payment was hold due to supplemental agreement which recently resolved/signed . Awaiting for staged payment.<br />
                        Invoice 4 (total of RM5,488,767.13) received payment on 18-July-2017<br />
                        Invoice 5-7 (total of RM8,134,387): Still pending. MOT can't advice when they can pay balance.
                    </td>
                    <td>Latif</td>
                    <td>30-Dec-16</td>
                    <td>
                        <div class="d-inline-block">
                            <span class="d-flex align-items-center justify-content-center u-tags-v1 g-brd-around g-bg-white g-font-size-default g-color-gray-dark-v6 g-brd-white g-rounded-50 g-py-4 g-px-15">
                                <span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-yellow g-mr-8"></span>
                                In Progress
                            </span>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="g-pos-rel g-top-3 d-inline-block">
                            <a id="Issues3Invoker" class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-lightblue-v3--hover" href="#!" aria-controls="Issues3" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#Issues3">
                                <i class="hs-admin-more-alt"></i>
                            </a>
                            <div id="Issues3" class="u-shadow-v31 g-pos-abs g-right-0 g-z-index-2 g-bg-white" aria-labelledby="Issues3Invoker">
                                <ul class="list-unstyled g-nowrap mb-0">
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-pencil g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-check g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Mark as Done
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-trash g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="g-hidden-xs-up">4</td>
                    <td class="g-first-child">
                        <div class="media align-items-center">
                            <div class="media-body text-left g-ml-15">4</div>
                        </div>
                    </td>
                    <td>
                        Maintenance Invoices <br />
                        Invoice for Q1 2017 - Invoice has issued on 5-May-2017 but pending payment due to backdated CPC issued by MOT. <br />
                        Invoice Q2 2017 - Haven't submitted due to pending System Performance Report from Rhino. <br />
                    </td>
                    <td>Latif</td>
                    <td>31-Aug-17</td>
                    <td>
                        <div class="d-inline-block">
                            <span class="d-flex align-items-center justify-content-center u-tags-v1 g-brd-around g-bg-white g-font-size-default g-color-gray-dark-v6 g-brd-white g-rounded-50 g-py-4 g-px-15">
                                <span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-yellow g-mr-8"></span>
                                In Progress
                            </span>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="g-pos-rel g-top-3 d-inline-block">
                            <a id="Issues4Invoker" class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-lightblue-v3--hover" href="#!" aria-controls="Issues4" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#Issues4">
                                <i class="hs-admin-more-alt"></i>
                            </a>
                            <div id="Issues4" class="u-shadow-v31 g-pos-abs g-right-0 g-z-index-2 g-bg-white" aria-labelledby="Issues4Invoker">
                                <ul class="list-unstyled g-nowrap mb-0">
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-pencil g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-check g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Mark as Done
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-trash g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="g-hidden-xs-up">5</td>
                    <td class="g-first-child">
                        <div class="media align-items-center">
                            <div class="media-body text-left g-ml-15">5</div>
                        </div>
                    </td>
                    <td>
                        LAD total of RM55,390 <br />
                        MOT will deduct from future payment. Kubtel in midst of negotiotion to transfer LAD to Rhino. <br />
                    </td>
                    <td>Latif</td>
                    <td>31-Aug-17</td>
                    <td>
                        <div class="d-inline-block">
                            <span class="d-flex align-items-center justify-content-center u-tags-v1 g-brd-around g-bg-white g-font-size-default g-color-gray-dark-v6 g-brd-white g-rounded-50 g-py-4 g-px-15">
                                <span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-yellow g-mr-8"></span>
                                In Progress
                            </span>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="g-pos-rel g-top-3 d-inline-block">
                            <a id="Issues5Invoker" class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-lightblue-v3--hover" href="#!" aria-controls="Issues5" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#Issues5">
                                <i class="hs-admin-more-alt"></i>
                            </a>
                            <div id="Issues5" class="u-shadow-v31 g-pos-abs g-right-0 g-z-index-2 g-bg-white" aria-labelledby="Issues5Invoker">
                                <ul class="list-unstyled g-nowrap mb-0">
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-pencil g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-check g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Mark as Done
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#!">
                                            <i class="hs-admin-trash g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid media align-items-center g-mb-45">
    <div id="datatableInfo2" class="media-body"></div>
    <nav id="datatablePagination2" class="d-flex ml-auto" aria-label="Page Navigation"></nav>
</div>
