@model KUBOnlinePRPM.Models.PRModel

<!-- Breadcrumb-v1 -->
<div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20 g-mb-30">
    <ul class="u-list-inline g-color-gray-dark-v6">
        <li class="list-inline-item g-mr-10">
            <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="~/PR">Purchase Requisition</a>
            <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
        </li>
        <li class="list-inline-item g-mr-10">
            <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="~/PR/PRList?type=Blank">Listings</a>
            <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
        </li>
        <li class="list-inline-item">
            <span class="g-valign-middle">@Model.NewPRForm.PRNo</span>
        </li>
    </ul>
</div>
<!-- End Breadcrumb-v1 -->
<ul class="nav u-nav-v4-1 u-nav-primary" role="tablist" data-target="nav-4-1-primary-hor-center" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block u-btn-outline-primary">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#nav-4-1-primary-hor-center--PRDetails" role="tab">PR Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nav-4-1-primary-hor-center--BPRPOList" role="tab">PO List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nav-4-1-primary-hor-center--Conversations" role="tab">Conversations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nav-4-1-primary-hor-center--Files" role="tab">Files</a>
    </li>
</ul>
<div id="nav-4-1-primary-hor-center" class="tab-content g-pa-20--md g-mb-40 g-brd--black g-bg-white">
    <div class="tab-pane fade show active" id="nav-4-1-primary-hor-center--PRDetails" role="tabpanel">
        <div class="container-fluid">
            @{ Html.RenderAction("PRDetails", "PR"); }
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-4-1-primary-hor-center--BPRPOList" role="tabpanel">
        <div class="container-fluid">
            @{ Html.RenderAction("BPRPOList", "PR"); }
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-4-1-primary-hor-center--Conversations" role="tabpanel">
        <div class="container-fluid">
            @{ Html.RenderAction("PRConversations", "PR"); }
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-4-1-primary-hor-center--Conversations" role="tabpanel">
        <div class="container-fluid">
            @{ Html.RenderAction("PRFiles", "PR"); }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var BPRItemDetailsTable;
        var UrlBPRPODetails = "@Url.Action("PODetails", "PO")";
        var BPRPOListTable;
        var touchtime = 0;
    </script>
    <script src="~/Scripts/PRDetails.js"></script>
    <script src="~/Scripts/BPRPOList.js"></script>
    @*<script src="~/Scripts/PRConversations.js"></script>*@
}